@import './src/styles';
.offer {
    .offer-side {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        .offer-category {
            font-style: italic;
            margin: 0;
            text-align: left;
            padding-right: $spacing;
        }
        @media (min-width: 768px) {
            flex-direction: column;
            align-items: flex-end;
            .offer-category {
                text-align: right;
                font-size: 12px;
                padding-right: 0;
            }
        }
    }
}