<!--
<div class="banner">
  <video class="video-cover" width="400" autoplay loop muted>
    <source src="https://fwas.ams3.cdn.digitaloceanspaces.com/fwas-banner.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="logo">
    <img src="../../../assets/images/logo.png" alt="Freiwilligenarbeit Sempach" style="max-width: 100%">
  </div>
</div>
-->

<div
  class="banner"
  [ngStyle]="{ 'background-image': 'url(' + config?.banner.imageUrl + ')' }"
></div>

<!-- <div class="banner">
  <img src="{{ config?.banner.imageUrl }}" alt="Titelbild">
</div> -->

<div style="padding-bottom: 2rem; text-align: center;">
  <img
    src="{{ config?.logo.imageUrl }}"
    alt="Freiwilligenarbeit Sempach"
    style="max-width: 100%;"
  />
</div>

<!-- <h1>Freiwilligenarbeit Sempach</h1> -->

<div class="row">
  <div class="col-lg-4 usage-option">
    <a routerLink="/inserate" class="grid-element">
      <div class="element-content">
        <p class="element-pre-title">
          Möchten Sie selbst als Freiwillige / Freiwilliger...
        </p>
        <h1>Helfen</h1>
        <div class="element-inner-spacer"></div>
        <div class="element-list">
          <div class="element-list-item">
            <div class="element-list-item-icon">1</div>
            <p>
              Durchstöbern Sie die aktuellen Einsatzmöglichkeiten und Inserate
            </p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">2</div>
            <p>Nehmen Sie Kontakt mit der jeweiligen Organisation auf</p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">3</div>
            <p>Engagieren Sie sich freiwillig</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 usage-option">
    <a routerLink="/angebote" class="grid-element">
      <div class="element-content">
        <p class="element-pre-title">
          Möchten Sie die Angebote von Freiwilligen...
        </p>
        <h1>Nutzen</h1>
        <div class="element-inner-spacer"></div>
        <div class="element-list">
          <div class="element-list-item">
            <div class="element-list-item-icon">1</div>
            <p>Durchstöbern Sie die vielseitigen Angebote</p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">2</div>
            <p>Nehmen Sie Kontakt mit der jeweiligen Organisation auf</p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">3</div>
            <p>Nutzen Sie das Angebot</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4 usage-option">
    <a routerLink="/login" class="grid-element">
      <div class="element-content">
        <p class="element-pre-title">
          Möchten Sie im Rahmen Ihrer Organisation Freiwillige...
        </p>
        <h1>Suchen</h1>
        <div class="element-inner-spacer"></div>
        <div class="element-list">
          <div class="element-list-item">
            <div class="element-list-item-icon">1</div>
            <p>
              Melden Sie sich im Namen Ihrer Organisation an (registrieren Sie
              sich, falls noch kein Konto besteht)
            </p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">2</div>
            <p>Schalten Sie Ihre Angebote und Inserate auf</p>
          </div>
          <div class="element-list-item">
            <div class="element-list-item-icon">3</div>
            <p>Finden und Verwalten Sie Ihre Freiwilligen</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="grid-element">
      <div class="element-content">
        <h2>{{ config?.aboutVoluntaryWorkTitle }}</h2>
        <p [innerHtml]="config?.aboutVoluntaryWork"></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="grid-element">
      <div class="element-content">
        <h2>{{ config?.aboutPlatformTitle }}</h2>
        <p [innerHTML]="config?.aboutPlatform"></p>
      </div>
    </div>
  </div>
</div>

<h2>Beteiligte Organisationen</h2>

<div class="row organisations">
  <div class="col-lg-4" *ngFor="let organisation of organisations">
    <div class="grid-element">
      <a
        class="organisation-link"
        routerLink="/organisationen/{{ organisation.id }}"
      >
        <img
          src="{{ organisation.image.imageUrl }}"
          alt="{{ organisation.name }}"
        />
      </a>
    </div>
  </div>
</div>
