<!-- <h1>Kontakt</h1> -->

<h1>Impressum</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="grid-element">
      <div class="element-content">
        <p>Alle Angaben unseres Internetangebotes wurden sorgfältig geprüft.</p>
        <h2 class="content-title">Allgemein</h2>
        <p>
          Impressum von der Freiwilligenarbeit Sempach. Der Zugriff auf die
          Seiten der Homepage und ihrer Unterseiten (Webseite) sowie deren
          Benutzung richtet sich nach den folgenden Vorschriften. Sie sind zum
          Aufruf und zur Nutzung der Webseite nur berechtigt, wenn Sie sich mit
          den nachfolgenden Bestimmungen einverstanden erklären. Unsere
          allgemeinen Liefer- und Zahlungsbedingungen werden durch den Inhalt
          dieser allgemeinen Nutzungsbedingungen nicht geändert, es sei denn,
          dass diese Änderung ausdrücklich erfolgt.
        </p>
        <h2 class="content-title">Aktualisierung</h2>
        <p>
          Wir sind nicht verpflichtet, die Inhalte der Webseite zu
          aktualisieren. Rechte an der Webseite steht der Freiwilligenarbeit
          Sempach zu, soweit nicht ausdrücklich etwas anderes geregelt ist. Die
          auf dieser Webseite veröffentlichten Texte, Dokumente, Bilder und
          Darstellungen sind – soweit nicht anders angegeben – ebenfalls
          alleiniges Eigentum der Freiwilligenarbeit Sempach. Jegliche
          kommerzielle Verwendung oder Verwertung der Webseite und ihrer Inhalte
          ist untersagt. Das Bestehen sonstiger Urheber- bzw. Schutzrechte
          bleibt unberührt.
        </p>
        <p>
          Jede Organisation ist für deren Inhalte und die Aktualisierung aller
          Inhalte selber zuständig.
        </p>
        <h2 class="content-title">Haftung</h2>
        <p>
          Wir (Freiwilligenarbeit Sempach) übernehmen keine Gewähr für die
          Vollständigkeit, Richtigkeit und/oder Aktualität der auf der Webseite
          enthaltenen Informationen. Der Nutzer erhält Zugang zur Seite nur im
          jeweils vorhandenen 'Ist-Zustand'. Der Nutzer unserer Webseite ist
          einverstanden, dass er das Risiko des Zugriffs auf die Webseite und
          auf deren Inhalte übernimmt. Die Freiwilligenarbeit Sempach ist nicht
          verantwortlich für Schäden, die aus der Nutzung dieser Webseite, aus
          der Tatsache, dass die Webseite ganz oder zeitweise nicht genutzt
          werden kann oder aus einem Datenverlust oder der Datenveränderung auf
          dem Übertragungsweg resultieren.
        </p>
        <p>
          Soweit diese Webseite Internetverknüpfungen auf Seiten Dritter
          enthält, erfolgt deren Benutzung auf eigenes Risiko des Nutzers. Das
          Unternehmen leistet weder Gewähr für deren Verfügbarkeit noch macht
          sie sich diese Seiten bzw. die auf ihnen geäusserten Ansichten und
          sonstigen Inhalte zu eigen.
        </p>
        <h2 class="content-title">Datenschutz</h2>
        <p>
          Bei jedem Zugriff eines Nutzers auf eine Seite unseres Angebotes und
          bei jedem Abruf einer Datei werden Daten über diesen Vorgang in einer
          Protokolldatei gespeichert. Diese Dateien sind nicht personenbezogen,
          wir können also nicht nachvollziehen, welcher Nutzer welche Daten
          abgefragt hat. Im Einzelnen wird über jeden Abruf folgender Datensatz
          gespeichert:
        </p>
        <ul>
          <li>Name der abgerufenen Datei</li>
          <li>Datum und Uhrzeit des Abrufs</li>
          <li>Übertragene Datenmenge</li>
          <li>Meldung, ob der Abruf erfolgreich war</li>
        </ul>
        <p>
          Personenbezogene Nutzer-Profile werden nicht gebildet. Die
          gespeicherten Daten werden nur zu statistischen Zwecken ausgewertet.
          Eine Weitergabe an Dritte findet nicht statt. Diese Seiten verwenden
          keine Cookies.
        </p>
        <h2 class="content-title">Anwendbares Recht</h2>
        <p>
          Etwaige bestehende oder behauptete Rechtsansprüche im Zusammenhang mit
          der Benutzung dieser Webseite werden nach schweizerischem Recht, mit
          Ausnahme der Vorschriften des internationalen Privatrechts behandelt,
          bzw. ausgelegt.
        </p>
        <h2 class="content-title">Copyright</h2>
        <p>
          Sämtliche Inhalte dieser Internetseite sind Eigentum von der
          Freiwilligenarbeit Sempach.
        </p>
        <h2 class="content-title">Herausgeber</h2>
        <p>
          Stadt Sempach<br />
          Herr Hanspeter Achermann<br />
          Stadtstrasse 8<br />
          6204 Sempach
        </p>
        <p>
          freiwilligenarbeit.sempach@gmail.com
        </p>

        <h2 class="content-title">Konzept, Design und Programmierung</h2>
        <p>
          Marcel von Wyl<br />
          Löwenstrasse 5<br />
          6004 Luzern
        </p>
      </div>
    </div>
  </div>
</div>
