@import './src/styles';

a{
    color: $base-font-color;

    &:hover{
        color: $white;
        text-decoration: none;
        background: $red-light;

        h2{
            border-color: $white;
        }
    }    
}